.pagination.pagebreaks .subpages a .number {
    background: #dde5f0;
    border: 1px solid #dde5f0;
}

.pagination.pagebreaks .subpages a .number.active {
    background: #fff;
    border: 1px solid #dde5f0;
    text-decoration: none;
}

.download-file {
    cursor: pointer;
}

i.fa.fa-arrow-circle-down {
    font-size: 1.2rem;
}

.pagination.pagebreaks .subpages > a  {
   text-decoration: none;
   padding-right: 5px;
   outline: 0;
}

.th-center {
    text-align: center;
}

.pagination.pagebreaks > br {
    display: none;
}

.pagination.pagebreaks > p {
    display: inline;
}

.image-gallery-carousel ul.slides li:hover, .image-gallery-carousel ul.slides li:focus, .image-gallery-carousel ul.slides li.flex-active-slide {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}