.pagination.pagebreaks .subpages a .number {
    background: #dde5f0;
    border: 1px solid #dde5f0;
}

.pagination.pagebreaks .subpages a .number.active {
    background: #fff;
    border: 1px solid #dde5f0;
    text-decoration: none;
}

.download-file {
    cursor: pointer;
}

i.fa.fa-arrow-circle-down {
    font-size: 1.2rem;
}

.pagination.pagebreaks .subpages>a {
    text-decoration: none;
    padding-right: 5px;
    outline: 0;
}

.th-center {
    text-align: center;
}

.pagination.pagebreaks>br {
    display: none;
}

.pagination.pagebreaks>p {
    display: inline;
}

.gallery-image-slider div.enlarge {
    padding: 0.2em 0;
    text-align: center;
}

.gallery-image-slider div.caption {
    padding: 0.3em 0 0.5em;
    text-align: center;
}
