.pagination.pagebreaks .subpages a .number {
  background: #dde5f0;
  border: 1px solid #dde5f0; }

.pagination.pagebreaks .subpages a .number.active {
  background: #fff;
  border: 1px solid #dde5f0;
  text-decoration: none; }

.download-file {
  cursor: pointer; }

i.fa.fa-arrow-circle-down {
  font-size: 1.2rem; }

.pagination.pagebreaks .subpages > a {
  text-decoration: none; }
