<div id="slider-{id}" class="gallery-slider flexslider">
    <ul class="slides">
        {images}
        <li>
            <img src="{url}">
            <div class="enlarge">
                (<a href="{url}" title="{title}" class="lightbox" rel="lightbox-{id}">{Enlarge}</a>)
            </div>
            <div class="caption">
                {description}
            </div>
        </li>
        {/images}
    </ul>
</div>
<div id="carousel-{id}" class="gallery-carousel flexslider">
    <ul class="slides">
        {images}
        <li>
            <img src="{url}" width="120" height="80" alt="">
        </li>
        {/images}
    </ul>
</div>
<script>
    jQuery(document).ready(function($) {
        $("#slider-{id}").flexslider({
            selector: "ul > li",
            animation: "slide",
            keyboard: true,
            multipleKeyboard: true,
            directionNav: false,
            controlNav: false,
            pausePlay: false,
            slideshow: false,
            sync: "#carousel-{id}"
        });
        $("#carousel-{id}").flexslider({
            maxItems: 7,
            selector: "ul > li",
            animation: "slide",
            keyboard: true,
            multipleKeyboard: true,
            directionNav: true,
            controlNav: false,
            pausePlay: false,
            slideshow: false,
            asNavFor: "#slider-{id}",
            itemWidth: 125,
            itemMargin: 5
        });
    });
</script>
